.filmContainer {
  padding: 3%;
}

.heading-bar {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}

.film-list-item {
  list-style: none;
}

.detail-image {
  width: 90%;
}

.list-and-detail-container {
  display: flex;
  justify-content: space-around;

}

.film-detail-container {

}

.details-and-faves-container {
  display: flex;
  flex-direction:column;
}

.fave-film-image {
  width: 25%;
  margin: 0;
}

.fave-film-tiles {
  margin:0;
}

.right-container {
  max-width: 30%;
}
